body,
html {
  font-family : Helvetica,
                sans-serif;
  font-size   : 18px;
}

.container {
  width  : 960px;
  margin : auto;
}

/* Header _____________________________________ */

header {
  color            : white;
  background-color : black;
}

header .container {
  display     : flex;
  padding     : .66rem 0rem;
  align-items : center;
}

header img {
  height        : 1.5rem;
  padding-right : 1rem;
}

/* Main banner ______________________________________ */

.main-banner {
  height              : 25rem;
  background-image    : url(../images/moto.jpeg);
  background-position : center;
  background-size     : cover;
}

.container .headline {
  display          : flex;
  position         : relative;
  top              : 9rem;
  width            : 22rem;
  background-color : black;
  flex-direction   : column;
}

.headline {
  width       : 20rem;
  padding     : 2rem 0rem 0.25rem 3rem;
  color       : white;
  font-weight : bold;
}

.headline h1 {
  margin-top  : 0.25rem;
  font-size   : 2rem;
  font-weight : bold;
}

/* Navigation Bar _____________________________________ */

nav {
  height           : 3rem;
  background-color : firebrick;
}

nav a {
  color           : white;
  text-decoration : none;
}

ul {
  display         : flex;
  flex-direction  : row;
  justify-content : space-around;
  list-style-type : none;
}

li {
  margin-top  : .75rem;
  align-items : center;
}

/* Gallery ________________________________________ */

section {
  padding-top    : 3rem;
  padding-bottom : 2rem;
}

.gallery {
  display         : flex;
  justify-content : space-between;
}

.product {
  display        : flex;
  width          : 30%;
  border         : 4px solid black;
  flex-direction : column;
}

.product img {
  width          : 9rem;
  margin         : auto;
  padding-top    : 2rem;
  padding-bottom : 2rem;
}

.product p {
  display          : flex;
  height           : 2.5rem;
  margin-bottom    : 0;
  color            : white;
  background-color : black;
  align-items      : center;
  justify-content  : center;
}

/* Location and Hours _____________________________ */

.bottom-wrapper {
  display         : flex;
  justify-content : space-between;
}

.hours,
.location {
  flex-basis : 35%;
}

#hours,
#location {
  display          : flex;
  height           : 3rem;
  padding-left     : 2rem;
  color            : white;
  background-color : black;
  align-items      : center;
}

/* Footer ________________________________________ */

footer {
  display          : flex;
  height           : 10rem;
  color            : white;
  background-color : black;
  text-align       : left;
}

footer p {
  display     : flex;
  align-items : center;
}
